<nav class="navbar">
    <div class="home">
      <!-- <div class="logo"><img src="../assets/icon.png" alt="logo" /></div> -->
      <li><a routerLink="/">The Gentleman's Wardrobe</a></li>
    </div>
    <div class="nav-list">
        <li><a routerLink="clothing">Clothing</a></li>
        <li><a routerLink="perfumes">Perfumes</a></li>
        <li><a routerLink="eyewear">Eyewear</a></li>
        <li><a routerLink="accessories">Accessories</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="contact">Contact</a></li>
    </div>
    <div class="icons">
      <li><fa-icon [icon]="wishlist"></fa-icon></li>
      <li><fa-icon [icon]="cart"></fa-icon></li>
    </div>
  </nav>