<footer class="footer">
    <ul class="footer-list">
        <li>Our Story</li>
        <li>FAQ</li>
        <li>Refund Policy</li>
        <li>Terms of Service</li>
        <li>Privacy Policy</li>
    </ul>
    <ul class="footer-list">
        <li>Our Story</li>
        <li>FAQ</li>
        <li>Refund Policy</li>
        <li>Terms of Service</li>
        <li>Privacy Policy</li>
    </ul>
    <ul class="Social">
        <li><h4>Stay current with updates from our social channels.</h4></li>
        <li>Contact US</li>
        <li>Email:customercare&#64;thegentlemanswardrobe.com</li>
        <li>Phone: +91 8464857337</li>
    </ul>
    <ul class="Newsletter">
        <li><h4>Newsletter</h4></li>
        <li>Subscribe to get special offers, free giveaways, and early access new pieces.</li>
        <input type="email" class="join" placeholder="email@newsletter.com">
        <button class="btn">JOIN</button>
    </ul>
</footer>