<h1>CONTACT US</h1>
<div class="form-sec">
    <div class="box1">
        <div class="form">
            <h1>Contact</h1>
            <form class="sign-up-form">
                <input class="form-input" type="text" placeholder="Full Name">
                <input class="form-input" type="email" placeholder="Email">
                <input class="form-input" type="text" placeholder="Message">
                <textarea name="text" class="textarea" placeholder="Message" rows="10"></textarea>
            </form>
        </div>
    </div>
    <div class="box2">
        <div class="newsletter">
            <h1>Sign Up for our Newsletter</h1>
        </div>
    </div>
</div>